<div class="buttons">
  <a class="btn-floating btn-small red" (click)="toggleTimesheet()">
    <i class="material-icons">access_time</i>
  </a>
  <a class="btn-floating btn-small green" (click)="openEditEmployeeModal(employee)">
    <i class="material-icons">edit</i>
  </a>
  <a class="btn-floating btn-small blue" (click)="deleteEmployee(employee.id)">
    <i class="material-icons">delete</i>
  </a>
</div>
