<div class="container">
  <div class="row">
    <h3>
      Employees
      <button mz-button (click)="openEmployeeModal()">
        <i class="material-icons">add</i>
      </button>
    </h3>

    <div class="col l5 s12 offset-l7">
      <label for="search">Search</label>
      <input type="search" id="search" [(ngModel)]="search" />

      <div>
        <label>
          <input type="checkbox" [(ngModel)]="hideInactive" />
          <span>Hide Inactive</span>
        </label>
      </div>
    </div>

    <table class="striped employee-table">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let employee of employees | filter: search | activeFilter: hideInactive">
          <tr *ngIf="employee.name">
            <td>
              {{ employee.name }}

              <app-employee-status
                [status]="employee.status"
              ></app-employee-status>

              <app-employee-buttons
                [employee]="employee"
                class="right"
              ></app-employee-buttons>

              <app-timesheet-table
                *ngIf="employee.showTimesheet"
                [employee]="employee"
              ></app-timesheet-table>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
