<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo"></a>
    <ng-container *ngIf="loggedIn">
      <ul class="right hide-on-med-and-down">
        <li>
          <a (click)="logout()"
            >Logout</a
          >
        </li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li>
          <a (click)="logout()"
            >Logout</a
          >
        </li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
    </ng-container>

    <ng-container *ngIf="!loggedIn">
        <ul class="right hide-on-med-and-down">
          <li>
            <a [routerLink]="['/login']" routerLinkActive="router-link-active"
              >Login</a
            >
          </li>
        </ul>
  
        <ul id="nav-mobile" class="sidenav">
          <li>
            <a [routerLink]="['/login']" routerLinkActive="router-link-active"
              >Login</a
            >
          </li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
      </ng-container>
  </div>
</nav>
