<div class="timesheet">
  <h5 class="col l8 offset-l2">
    Timesheet
    <a class="btn-floating btn-small green" (click)="addTime()"
      ><i class="material-icons">add</i></a
    >
  </h5>

  <table class="striped col l8 offset-l2 blue-grey">
    <thead>
      <tr>
        <th>Time in</th>
        <th>Time out</th>
        <th>Manage</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let time of employee.timesheet; let i = index">
        <tr *ngIf="!time.isEditing">
          <td>
            {{ time.in | date:'medium'}}
          </td>
          <td>
            {{ time.out | date:'medium'}}
          </td>
          <td width="100">
            <a class="btn-floating btn-small green" (click)="editTime(time)"
              ><i class="material-icons">edit</i></a
            >
            <a class="btn-floating btn-small blue" (click)="deleteTime(i)"
              ><i class="material-icons">delete</i></a
            >
          </td>
        </tr>
        <tr *ngIf="time.isEditing">
          <td>
            <ng2-flatpickr
              [config]="dateTimeOptions"
              [(ngModel)]="time.in"
            ></ng2-flatpickr>
          </td>
          <td>
            <ng2-flatpickr
              [config]="dateTimeOptions"
              [(ngModel)]="time.out"
            ></ng2-flatpickr>
          </td>
          <td width="100">
            <a class="btn-small green" (click)="saveTime(time)"
              ><i class="material-icons">save</i></a
            >
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
