<mz-modal [fixedFooter]="true">
    <mz-modal-header>
      <h4>Update Employee</h4>
    </mz-modal-header>
    <mz-modal-content>
      <form (ngSubmit)="updateEmployee()" [formGroup]="EmployeeForm">
        <div class="row">
          <div class="input-field">
            <label for="name">Employee Name</label>
            <input
              autofocus
              id="name"
              type="text"
              class="validate active"
              formControlName="name"
            />
          </div>
          <div class="input-field">
            <div>
              <mz-switch-container>
                <input
                  formControlName="status"
                  mz-switch
                  id="switch-status"
                  [on]="'Active'"
                  [off]="'Inactive'"
                  type="checkbox"
                />
              </mz-switch-container>
            </div>
          </div>
        </div>
      </form>
    </mz-modal-content>
    <mz-modal-footer>
      <button mz-button [flat]="true" mz-modal-close>Cancel</button>
      <button mz-button [flat]="false" (click)="updateEmployee()" mz-modal-close>Save</button>
    </mz-modal-footer>
  </mz-modal>
  