<div class="container">
  <div class="row">
    <div class="col s6 offset-l3">
      <div class="card-panel light-blue darken-1">
        <form (ngSubmit)="postLogin()" [formGroup]="LoginForm">
          <h3 class="white-text">Login</h3>
          <div class="row">
            <div class="input-field col s6">
              <input
                id="username"
                type="text"
                autofocus
                class="white-text validate active"
                formControlName="username"
              />
              <label for="username" class="white-text">Username</label>
            </div>
            <div class="input-field col s6">
              <input
                autofocus
                id="password"
                type="password"
                class="white-text validate"
                formControlName="password"
              />
              <label for="password" class="white-text">Password</label>
            </div>
          </div>
          <button class="waves-effect waves-light btn"
            ><i class="material-icons left">subdirectory_arrow_right</i>login</button
          >
        </form>
      </div>
    </div>
  </div>
</div>
